@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Fehler";
}

<hgroup class="title">
    <h1 class="error">Fehler</h1>
    <h2 class="error">Fehler bei der Verarbeitung Ihrer Anforderung.</h2>
</hgroup>
