*.dll
*.mdb
*.suo
*.exe
*.pdb
*.cache
GenericCampaignMasterLib/bin/*
GenericCampaignMasterLib/obj/*
GenericCampaignMasterLibTests/bin/*
GenericCampaignMasterLibTests/obj/*
Playground/bin/*
Playground/obj/*
GenericCampaignMasterLib/bin/Debug/GenericCampaignMasterLib.dll.mdb

*.userprefs
GenericCampaignMasterLibTests/test-results/*

.DS_Store
