*.dll
*.mdb
*.suo
*.exe
*.pdb
*.cache
*.mgbmp
*.mgbmr
*.mgidx
*.mgdat
*.mgrec
GenericCampaignMasterLib/bin/*
GenericCampaignMasterLib/obj/*
GenericCampaignMasterLibTests/bin/*
GenericCampaignMasterLibTests/obj/*
Playground/bin/*
Playground/obj/*
GenericCampaignMasterLib/bin/Debug/GenericCampaignMasterLib.dll.mdb

*.userprefs
GenericCampaignMasterLibTests/test-results/*

.DS_Store

test-results/*


