*.dll
*.mdb
*.suo
*.exe
*.pdb
*.cache
*.mgbmp
*.mgbmr
*.mgidx
*.mgdat
*.mgrec
*.bak
obj/*
Debug/*
_UpgradeReport_Files/*
GenericCampaignMasterLib/bin/*
GenericCampaignMasterLib/obj/*
GenericCampaignMasterLibTests/bin/*
GenericCampaignMasterLibTests/obj/*
Playground/bin/*
Playground/obj/*
GenericCampaignMasterLib/bin/Debug/GenericCampaignMasterLib.dll.mdb

*.userprefs
GenericCampaignMasterLibTests/test-results/*
UpgradeLog.*
.DS_Store

test-results/*



CampaignMasterWeb\01dec023-5330-43d0-84c1-d129677771cf.txt

CampaignMasterWeb\0ece3a2e-15b7-451d-b554-48fac291ab64.txt
