<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="GcmlDbContext" connectionString="Data Source=D:\users\hagen2\Documents\git\GCML\GcmlDataAccess\SQLServer.sdf;Password=lassmichreinduidiot;Persist Security Info=True" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
</configuration>
