@model IEnumerable<GenericCampaignMasterModel.CampaignInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GcmlLayout.cshtml";
}

<h2>Index</h2>
@{ 
    <ul>
    @foreach(var cmp in Model)
    {
        
        <li>@cmp.campaignId - @cmp.campaignName - @Html.ActionLink("Load", "Details", new { id = cmp.campaignId })</li>
    }   
        </ul> 
}
